<h5>My Flights</h5>

<p *ngIf="!flightPlans"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flightPlans">
  <thead>
    <tr>
      <th>Passengers</th>
      <th>CompanyName</th>
      <th>InitialLocation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flightPlan of flightPlans">
      <td>{{ flightPlan.passengers }}</td>
      <td>{{ flightPlan.company_name }}</td>
      <td>{{ flightPlan.initial_location.longitude }}</td>
    </tr>
  </tbody>
</table>
