<h5>My Flights</h5>

<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <p *ngIf="!flights"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flights">
    <thead>
      <tr>
        <th>Flight Id</th>
        <th>Company Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flights" (click)="flightPlanLoadDetailClick('',flight.flight_id)">
        <td>{{ flight.flight_id }}</td>
        <td>{{ flight.company_name }}</td>
        <td><button (click)="delete(flight.flight_id)">X</button></td>
      </tr>
    </tbody>
  </table>

</div>

  
