<base href="/" />
<div class= "container-fluid">
    <div class="row p-3">
      <div class="col-lg-9">
        <div class="bg-alert rounded-lg">
          <div class="p-2">
            <agm-map (mapReady)="mapReady($event)">
              <agm-marker [latitude]="-34.57895241036947" [longitude]="-59.14764404296876" [label]="'M'"></agm-marker>
            </agm-map>
          </div>
        </div>
        
        <div class="bg-danger rounded-lg p-2" style="height:140px;">
          <flight-details></flight-details>
        </div>
      </div>
      <div class= "col-lg-3 bg-success rounded-lg">
        <div style="height:50%;">
          <my-flights></my-flights>
        </div>
        <div>
          <h5>External Flights</h5>
        </div>
      </div>
    </div>
  </div>

