<h5>FlightPlan Details</h5>
<p *ngIf="!selectedFlightPlan"><em>No Flight Plan for details</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="selectedFlightPlan">
  <thead>
    <tr>
      <th>Passengers</th>
      <th>CompanyName</th>
      <th>Init-Long</th>
      <th>Init-Lat</th>
      <th>Final-Long</th>
      <th>Final-Long</th>
      <th>Init-Date</th>
      <th>Final-Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ selectedFlightPlan.passengers }}</td>
      <td>{{ selectedFlightPlan.company_name }}</td>
      <td>{{ selectedFlightPlan.initial_location.longitude }}</td>
      <td>{{ selectedFlightPlan.initial_location.latitude }}</td>
      <td>{{ selectedFlightPlan.final_location.longitude }}</td>
      <td>{{ selectedFlightPlan.final_location.latitude }}</td>
      <td>{{ selectedFlightPlan.initial_location.date_time }}</td>
      <td>{{ selectedFlightPlan.end_date_flight }}</td>
      </tr>
    </tbody>
  </table>

