<h5>FlightPlan Details</h5>
<p *ngIf="!selectedFlightPlan"><em>No Flight Plan for details</em></p>

<table class="table table-sm table-striped text-center" aria-labelledby="tableLabel" *ngIf="selectedFlightPlan">
  <thead class="thead-dark">
    <tr>
      <th>Passengers</th>
      <th>Company Name</th>
      <th>Init-Long</th>
      <th>Init-Lat</th>
      <th>Final-Long</th>
      <th>Final-Long</th>
      <th>Init-Date</th>
      <th>Final-Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ selectedFlightPlan.passengers }}</td>
      <td>{{ selectedFlightPlan.company_name }}</td>
      <td>{{ selectedFlightPlan.initial_location.longitude }}</td>
      <td>{{ selectedFlightPlan.initial_location.latitude }}</td>
      <td>{{ selected_final_location.longitude }}</td>
      <td>{{ selected_final_location.latitude }}</td>
      <td>{{ selected_ini_date_flight.toLocaleString().replace('T','&nbsp;&nbsp;&nbsp;&nbsp;') }}</td>
      <td>{{ selected_end_date_flight.toLocaleString().replace('T','&nbsp;&nbsp;&nbsp;&nbsp;') }}</td>
      </tr>
    </tbody>
  </table>

