<h5>External Flights</h5>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <p *ngIf="!extendedFlights"><em>Loading...</em></p>

  <table class="table table-sm table-striped table-dark table-hover table-responsive text-center">
    <thead class="thead-dark">
      <tr>
        <th>Flight Id</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="flight.flight_id == selected_flight_id ? 'backYellow' : ''" *ngFor="let flight of extendedFlights" (click)="flightPlanLoadDetailClick(flight.serverURL,flight.flight_id)">
        <td>{{ flight.flight_id }}</td>
        <td colspan="2">{{ flight.company_name }}</td>
      </tr>
    </tbody>
  </table>
  </div>
